[submodule "src/range/range"]
	path = externals/range/range
	url = https://github.com/ericniebler/range-v3.git
[submodule "src/catch/catch"]
	path = externals/catch/catch
	url = https://github.com/catchorg/Catch2.git
	branch = Catch1.x
[submodule "externals/CLHEP"]
	path = externals/CLHEP
	url = https://gitlab.cern.ch/CLHEP/CLHEP.git
